*{
    background: #000;
    text-align: center;
}

#main-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}
a{
    color: aquamarine;
    font-size: 16px;
}

#second-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

#paragraph{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

footer{
    text-align: right;
    color: gray;
}